$bg-color: white;
$button-color:#5c9b4f;
$border-color:  #516931; // ירוק בהיר
$hover-color:#359722; // ירוק כהה יותר
$text-color: #1b3f16;//ירוק כהה עוד יותר
$error-color: #d4120b;
$bg-button-color:$border-color;

$font-family: cursive;



